<div class="container top-margin">
  <h1 class='my-5 text-warning text-weight-bold'>My movies</h1>
</div>
<div class="container" style="background: #202020;">
  <% @movies.each do |movie| %>
    <%# add favourite, title, rating, etc %>
    <div class="row pt-3">
      <div class="col-2 col-lg-1">
        <%= link_to "#", data: { reflex: "click->MoviesReflex#add_to_watchlist", user_id: current_user.id, movie_id: movie.id } do %>
          <div class="text-center fade-effect" style="font-size: 3em" data-toggle="tooltip" data-placement="top" title="Click to remove from Watchlist" >
            <i class="fas fa-bookmark"></i>
          </div>
        <% end %>
      </div>

      <div class="col-10 col-lg-11">
        <div class="row">
          <%# display title %>
          <%= link_to movie, class: "col-12 col-lg-8" do%>
            <h3><%= movie.title %></h3>
          <% end %>

          <%# display average rating %>
          <%= link_to movie, class: "col-6 col-lg-2", style: "font-size: 2em"  do%>
            <div class="row">
              <div class="col-6"><i class="fas fa-star mr-2 text-warning"></i></div>
              <div class="col-6 px-lg-0">
                <div class="row mt-1" style="font-size: 0.7rem">JMDb</div>
                <div class="row mt-n2" style="font-size: 1.7rem"><%= @avg_ratings[movie.id] %></div>
              </div>
            </div>
          <% end %>
          <div class="col-6 col-lg-2" style="font-size: 2rem" >
            <% if user_signed_in? && movie.ratings.find_by(user_id: current_user.id) %>
              <div class="row">
                <div class="col-6"><i class="fas fa-star mr-2 text-warning"></i></div>
                <div class="col-6 px-lg-0">
                  <div class="row mt-1" style="font-size: 0.7rem">You</div>
                  <div class="row mt-n2" style="font-size: 1.7rem"><%= movie.ratings.find_by(user_id: current_user.id).user_rating %></div>
                </div>
              </div>
            <% else %>
              <span><i class="far fa-star mr-2 text-warning"></i></span><span class="align-middle" style="font-size: 0.5em">Not rated</span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <%= link_to movie, class: "col-12" do%>
            <p class="font-weight-lighter" style="font-size: 0.9rem; color: #D0D0D0">
              <%= "#{movie.rated}" %>
              <span class="px-2">|</span>
              <%= "#{movie.runtime}" %>
              <span class="px-2">|</span>
              <%= "#{movie.category}" %>
              <span class="px-2">|</span>
              <%= "#{movie.genre}" %>
              <span class="px-2 text-wrap">|</span>
              <%= "#{movie.released.strftime('%e %B %Y')}" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


