<div class="container top-margin" style="background: #202020;">
  <%# add watchlist, title, rating, etc %>
  <div class="row pt-3">
    <div class="col-2 col-lg-1">
      <% if user_signed_in? %>
        <%= link_to "#", data: { reflex: "click->MoviesReflex#add_to_watchlist", user_id: current_user.id, movie_id: @movie.id } do %>
          <div class="text-center fade-effect" style="font-size: 3em" data-toggle="tooltip" data-placement="top" title="<%= @watchlist_added ? "Click to remove from Watchlist" : "Click to add to Watchlist"%>" >
            <i class="<%= @watchlist_added ? "fas" : "far" %> fa-bookmark"></i>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <div class="text-center fade-effect" style="font-size: 3em" data-toggle="tooltip" data-placement="top" title="Click to add to Watchlist"><i class="far fa-bookmark"></i></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-10 col-lg-11">
      <div class="row">
        <%# display title %>
        <div class="col-12 col-lg-8">
          <h1><%= @movie.title %></h1>
        </div>
        <%# display average rating %>
        <div class="col-6 col-lg-2" style="font-size: 2rem">
          <div class="row">
            <div class="col-6"><i class="fas fa-star mr-2 text-warning"></i></div>
            <div class="col-6 px-lg-0">
              <div class="row mt-1" style="font-size: 0.7rem">JMDb</div>
              <div class="row mt-n2" style="font-size: 1.7rem"><%= @avg_rating %></div>
            </div>
          </div>
        </div>
        <%# display user rating %>
        <div class="col-6 col-lg-2" style="font-size: 2rem">
          <% if user_signed_in? %>
            <input type="hidden" id="rating" name="rating" value="<%= @rating ? @rating.user_rating : 0 %>" />
            <%= link_to "#", class: "fade-effect", id: "link-rate", data: { toggle: "modal", target: "#rateModal" } do %>
              <% if @rating %>
                <div class="row fade-effect">
                  <div class="col-6"><i class="fas fa-star mr-2 text-warning"></i></div>
                  <div class="col-6 px-lg-0">
                    <div class="row mt-1" style="font-size: 0.7rem">You</div>
                    <div class="row mt-n2" style="font-size: 1.7rem"><%= @rating.user_rating %></div>
                  </div>
                </div>
              <% else %>
                <span><i class="far fa-star mr-2 text-warning"></i></span><span class="align-middle" style="font-size: 0.5em">Rate this</span>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "fade-effect" do %>
              <span><i class="far fa-star mr-2 text-warning"></i></span><span class="align-middle" style="font-size: 0.5em">Rate this</span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="font-weight-lighter" style="font-size: 0.9rem; color: #D0D0D0">
            <%= "#{@movie.rated}" %>
            <span class="px-2">|</span>
            <%= "#{@movie.runtime}" %>
            <span class="px-2">|</span>
            <%= "#{@movie.category}" %>
            <span class="px-2">|</span>
            <%= "#{@movie.genre}" %>
            <span class="px-2 text-wrap">|</span>
            <%= "#{@movie.released.strftime('%e %B %Y')}" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%# add poster, %>
  <div class="row">
    <div class="col-3 px-0">
      <%= image_tag @movie.poster, class:"w-100"%>
    </div>
    <div class="col-9 px-4">
      <p style="font-size: 1.1em"><%= @movie.plot %></p>
      <p><strong>Director : </strong><%= @movie.director %></p>
      <p><strong>Actors : </strong><%= @movie.actors %></p>
      <% if user_signed_in? %>
        <%= link_to "#",
            data: { reflex: "click->MoviesReflex#add_to_watchlist", user_id: current_user.id, movie_id: @movie.id },
            class: "btn btn-primary" do %>
          <div data-toggle="tooltip" data-placement="top" title="<%= @watchlist_added ? "Click to remove from Watchlist" : "Click to add to Watchlist"%>">
            <%= "#{@watchlist_added ? "Remove from Watchlist" : "+ Add to Watchlist"}" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to '+ Add to Watchlist', new_user_session_path, class: "btn btn-primary", data: {toggle: "tooltip", placement: "top"}, title: "Click to add to Watchlist" %>
      <% end %>
    </div>
  </div>

  <%= render 'partials/comment_form', movie: @movie, comment: @comment%>
  <%= render 'partials/comments', movie: @movie, comments: @comments%>
  <% if user_signed_in? %>
    <%= render 'modal_rating', movie: @movie %>
  <% end %>
</div>