<div class="main-width mx-auto px-3">
  <h1 class='my-5 text-warning text-weight-bold'><%= title %></h1>
  <% if !movies || movies == [] %>
    <h2 class='my-5 text-center'>No results</h2>
  <% else %>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 ">
      <% movies.each do |movie| %>
        <div class= "col mb-4">
          <div class="card bg-dark h-100 rounded-0" >
            <%# if failed to load image, load Unsplash image instead %>
            <%= link_to movie do %>
              <%= image_tag movie[:poster], class: "card-img-top rounded-0", alt: "movie poster image", onerror: "this.onerror=null;this.src='https://images.unsplash.com/photo-1581905764498-f1b60bae941a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80';" %>
            <% end %>
            <div class="card-body p-2">
              <%= link_to movie do %>
                <p style="font-size: 0.9em"><span><i class="fas fa-star mr-2 text-warning"></i></span><span><%= movie.imdb_rating %></span></p>
                <h6 class="card-title font-weight-normal"style="min-height: 60px; max-height: 60px; overflow: hidden;"><%= movie.title %></h6>
              <% end %>
              <%= link_to "x", movie, method: :delete, class: "text-danger delete-movie", width: 300 %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

