<div class="container">
  <h1 class='display-4 my-5 text-center'><%= title %></h1>
  <% if !movies || movies == [] %>
    <h2 class='my-5 text-center'>No results</h2>
  <% else %>
    <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 ">
      <% movies.each do |movie| %>
        <div class= "col-md-4 mb-4 card-hover">
          <div class="card bg-dark h-100 rounded-0" >
            <%# if failed to load image, load Unsplash image instead %>
            <%= link_to movie do %>
              <%= image_tag movie[:poster], class: "card-img-top rounded-0", alt: "movie poster image", onerror: "this.onerror=null;this.src='https://images.unsplash.com/photo-1581905764498-f1b60bae941a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80';" %>
            <% end %>
            <div class="card-body">
              <%= link_to movie do %>
                <h6 class="card-title font-weight-normal"><%= movie.title %></h6>
              <% end %>
              <%= link_to "x", movie, method: :delete, class: "text-danger", width: 300 %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

